img.logo_chrome,img.logo_firefox,img.logo_opera,img.logo_safari,img.logo_ie {
   width:256px;
   height:256px;
}

img.logo_chrome {
   background:url(chrome_firefox_opera_safari_ie-512.png) 0 0;
}

img.logo_firefox {
   background:url(chrome_firefox_opera_safari_ie-512.png) 512 0;
}

img.logo_opera {
   background:url(chrome_firefox_opera_safari_ie-512.png) 1024 0;
}

img.logo_safari {
   background:url(chrome_firefox_opera_safari_ie-512.png) 1536 0;
}

img.logo_ie {
   background:url(chrome_firefox_opera_safari_ie-512.png) 2048 0;
}
